<launch>
  <arg name="serial_stereo" doc="Serial of the Ensenso stereo camera" />
  <arg name="serial_mono" doc="Serial of a mono camera supported by the NxLib" />
  <arg name="stereo_ns" value="stereo" />
  <arg name="mono_ns" value="mono" />

  <include file="$(find ensenso_camera)/launch/mono_stereo_nodelets.launch">
    <arg name="serial_stereo" value="$(arg serial_stereo)" />
    <arg name="serial_mono" value="$(arg serial_mono)" />
    <arg name="stereo_ns" value="$(arg stereo_ns)" />
    <arg name="mono_ns" value="$(arg mono_ns)" />
  </include>

  <node pkg="ensenso_camera" type="color_point_cloud" name="color_point_cloud" >
    <param name="rgb_serial" type="string" value="$(arg serial_mono)" />
    <param name="stereo_ns" type="string" value="$(arg stereo_ns)" />
    <param name="rgb_ns" type="string" value="$(arg mono_ns)" />
  </node>
</launch>