<!-- Open a mono file camera in a node. -->

<launch>
  <arg name="serial" doc="Serial of the mono file camera to be created" default="mono_cam" />
  <arg name="path" doc="The path to the mono file camera directory or zip file" />

  <node pkg="ensenso_camera" type="ensenso_camera_mono_node" name="ensenso_camera_mono_node">
    <param name="serial" type="string" value="$(arg serial)"/>
    <param name="file_camera_path" type="string" value="$(arg path)"/>
  </node>
</launch>
