<launch>
  <arg name="serial" doc="The serial number of the created file camera."/>
  <arg name="path" doc="The path that contains the camera images."/>
  <node pkg="ensenso_camera" type="ensenso_camera_node" name="ensenso_camera_node">
    <param name="serial" value="$(arg serial)"/>
    <param name="file_camera_path" value="$(arg path)"/>
  </node>
</launch>
