<launch>
  <!-- This launch file is a sample launch file for a multi camera setup with linked stereo cameras -->
  <arg name="camera1" value="123" doc="Serial of the Ensenso stereo camera 1"/>
  <arg name="camera2" value="456" doc="Serial of the Ensenso stereo camera 2"/>

  <arg name="camera1_ns" value="stereo_camera_one" doc="Namespace of the Ensenso stereo camera 1" />
  <arg name="camera2_ns" value="stereo_camera_two" doc="Namespace of the Ensenso stereo camera 2" />

  <arg name="frame_to_publish" value="AnyFrame" />

  <node pkg="nodelet" type="nodelet" name="manager_"  args="manager" output="screen" />
  <!-- Camera nodes running as nodelets -->
  <!-- The first camera is the root camera -->
  <node pkg="nodelet" type="nodelet" name="Ensenso_$(arg camera1)" args="load ensenso_camera/nodelet /manager_" output="screen" ns="$(arg camera1_ns)">
    <param name="serial" type="string" value="$(arg camera1)" />

    <!-- The target_frame defines, where the data is published -->
    <param name="target_frame" type="string" value="$(arg frame_to_publish)" />
  </node>

  <!-- The second camera is the camera linked to camera 1. Requires a link calibration in NxView beforehand. In the link
  calibration the first camera has to be the "root" camera for the link calibration -->
  <node pkg="nodelet" type="nodelet" name="Ensenso_$(arg camera2)" args="load ensenso_camera/nodelet /manager_" output="screen" ns="$(arg camera2_ns)">
    <param name="serial" type="string" value="$(arg camera2)" />

    <!-- The link_frame defines the parent TF-Frame of the published Camera Link.
    The child TF-Frame will be the camera_frame of this camera. This parameter is needed for all
    cameras except the "root" camera above, if you want to have a multi camera setup with linked cameras -->
    <param name="link_frame" type="string" value="$(arg camera1)_optical_frame" />

    <!-- The target_frame defines, where the data is published -->
    <param name="target_frame" type="string" value="$(arg frame_to_publish)" />
  </node>
</launch>