<?xml version="1.0"?>
<robot name="ensenso_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find ensenso_description)/ensenso.xacro" />

  <!-- Parameters -->
  <!-- Name of the camera -->
  <xacro:property name="camera" value="N35"/>

  <!-- Enlarges the bounding box in all directions -->
  <xacro:property name="margin" value="0.03"/>

  <!-- Tf Frame, that references to the cameras mounting frame -->
  <xacro:property name="corresponding_frame_name" value="world"/>
  <link name="${corresponding_frame_name}"/>

  <xacro:ensenso_N_Series camera="${camera}" parent="${corresponding_frame_name}" margin="${margin}">
    <origin xyz="0 0 1.0" rpy="0 0 0" />
  </xacro:ensenso_N_Series>
</robot>

<!-- example usage with: roslaunch urdf_tutorial display.launch model:=`rospack find ensenso_description`/ensenso_N_Series.xacro gui:=true -->