<?xml version="1.0"?>
<robot name="ensenso_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find ensenso_description)/ensenso.xacro" />

  <!-- Parameters -->
  <!-- Name of the camera -->
  <xacro:arg name="camera" default="X200_xFA" />
  <xacro:property name="camera_name" value="$(arg camera)" />

  <!-- Enlarges the bounding box in all directions -->
  <xacro:arg name="margin" default="0.03" />
  <xacro:property name="margin" value="$(arg margin)" />

  <!-- tf frame that references to the cameras mounting frame -->
  <xacro:arg name="corresponding_frame_name" default="base_link" />
  <xacro:property name="corresponding_frame_name" value="$(arg corresponding_frame_name)" />

  <xacro:ensenso_X200_xFA_Series name="${camera_name}" margin="${margin}"/>
  <joint name="${corresponding_frame_name}_to_${camera_name}" type="fixed">
    <parent link="${corresponding_frame_name}" />
    <child link="${camera_name}" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="${corresponding_frame_name}" />
</robot>
<!-- Example usage with:
roslaunch urdf_tutorial display.launch model:=`rospack find ensenso_description`/ensenso_X200_xFA_Series.xacro gui:=true
-->
